<html>
<body>
body{
background-color:green;
}
p{
font-size:150%;
color:#f29d9d;
font-family:forte;
}
p1{
font-size:150%;
color:#730026;
font-family:Lucida Handwriting;
}
</body>
</html>